.autorization__button {
   width:358px;
   margin-top: 200px;
   background-color: white;
   padding: 18px;
   border: none;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
}